/* font*/

@font-face {
    font-family: "Vazir-Bold";
    src: url(../fonts/Vazir-Bold-FD-WOL.eot) format('eot'), url(../fonts/Vazir-Bold-FD-WOL.woff) format('woff'), url(../fonts/Vazir-Bold-FD-WOL.ttf) format('truetype');
}

@font-face {
    font-family: "Vazir-FD";
    src: url(../fonts/Vazir-FD-WOL.eot) format('eot'), url(../fonts/Vazir-FD-WOL.woff) format('woff'), url(../fonts/Vazir-FD-WOL.ttf) format('truetype');
}

@font-face {
    font-family: "Vazir-Light";
    src: url(../fonts/Vazir-Light-FD-WOL.eot) format('eot'), url(../fonts/Vazir-Light-FD-WOL.woff) format('woff'), url(../fonts/Vazir-Light-FD-WOL.ttf) format('truetype');
}

@font-face {
    font-family: "Vazir-Medium";
    src: url(../fonts/Vazir-Medium-FD-WOL.eot) format('eot'), url(../fonts/Vazir-Medium-FD-WOL.woff) format('woff'), url(../fonts/Vazir-Medium-FD-WOL.ttf) format('truetype');
}

@font-face {
    font-family: "Vazir-Thin";
    src: url(../fonts/Vazir-Thin-FD-WOL.eot) format('eot'), url(../fonts/Vazir-Thin-FD-WOL.woff) format('woff'), url(../fonts/Vazir-Thin-FD-WOL.ttf) format('truetype');
}